.ss_button {
	background-color: @orange;
	border-bottom: 2px solid #FFFFFF;
	cursor: pointer;
	padding: 14px 10px;
	color: @text-dark;
	font-size: 18px;
	font-weight: 700;
}

.ss_content {
	background-color: #EFEFEF;
	display: none;
	padding: 10px;
}
