/**
 * Background-colors
 */
.bg-lgreen {
  background-color: @greenlight;
}

.bg-dgreen {
  background-color: @greendark;

  .section-title,
  .subtitle,
  .text-title,
  a,
  p {
    color: white;
  }
}

.bg-yellow {
  background-color: @yellow;
}

.bg-orange {
  background-color: @orange;
}

.bg-white {
  background-color: white;
}

/**
 * Buttons
 */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn-main {
  margin: 8px 0;
  color: @greendark;
  font-weight: 700;
  border: 2px solid @greendark;
  background-color: transparent;

  .link-text {
    padding: 0 10px;
  }

  .glyphicon {
    color: @greendark;
  }

  &:hover {
    background-color: @greendark;
    color: white;

    .glyphicon {
      color: white;
    }
  }
}

.btn-more-info {
  margin: 8px 0;
  color: @orange;
  font-weight: 700;
  border: 2px solid @orange;
  background-color: transparent;

  &:hover {
    background-color: @orange;
    color: white;
  }
}

.btn-action {
  margin: 8px 0;
  color: @text-dark;
  font-weight: 700;
  border: 2px solid @text-dark;
  background-color: transparent;

  &:hover {
    background-color: @text-dark;
    color: white;
  }
}

.btn-submit {
  margin: 8px 0;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: white;
    color: @text-dark;
  }
}

.btn-white {
  margin: 8px 0;
  color: @text-dark;
  font-weight: 700;
  border: 2px solid white;
  outline: none;
  background-color: white;
  border-radius: 0;
  transition: box-shadow 0.3s ease;

  &:hover {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}

.btn-contrast {
  margin: 8px 0;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: white;
    color: @text-dark;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid @greendark;
  color: white;
  box-shadow: none;
  border-radius: 0;

  &:active,
  &:focus {
    border-radius: 4px;
    border: 2px solid @greendark;
  }

  &::-webkit-input-placeholder {color: @greendark;}
  &::-moz-placeholder          {color: @greendark;}/* Firefox 19+ */
  &:-moz-placeholder           {color: @greendark;}/* Firefox 18- */
  &:-ms-input-placeholder      {color: @greendark;}
}

.input--modal {
  &::-webkit-input-placeholder {color: #ccc;}
  &::-moz-placeholder          {color: #ccc;}/* Firefox 19+ */
  &:-moz-placeholder           {color: #ccc;}/* Firefox 18- */
  &:-ms-input-placeholder      {color: #ccc;}

  color: @greendark;
}

.input--light {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 10px;
  outline: none;

  &:active,
  &:focus {
    border-radius: 4px;
    border: 2px solid white;
  }

  &::-webkit-input-placeholder {
    color: @greenlight;
    text-transform: uppercase;
    font-weight: 700;
  }
  &::-moz-placeholder          {
    color: @greenlight;
    text-transform: uppercase;
    font-weight: 700;
    }/* Firefox 19+ */
  &:-moz-placeholder           {
    color: @greenlight;
    text-transform: uppercase;
    font-weight: 700;
    }/* Firefox 18- */
  &:-ms-input-placeholder      {
    color: @greenlight;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.form-control {
  border-color: grey;

  &:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid @greendark;
  }
}
/**
 * Sections
 */

 main.section {
   padding-bottom: 0;
 }

.section {
 position: relative;
 padding-top: 50px;
 padding-bottom: 50px;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
}

.section-title {
  color: @text-dark;
  margin: 20px 0;
  font-weight: 700;
  font-size: 42px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
}
/**
 * Typographics
 */
.glyphicon-lg {
  font-size: 60px;
}

.text-bold {
  font-weight: 700;
}
