.page-header {
  margin: 0;
  background-color: @greenlight;
  border-radius: 0;

  form.navbar-form {
    margin-top: 54px;
    margin-bottom: 0;
  }

  .navbar-form .form-group {
    position: relative;
    width: 100%;

    .form-control {
      width: inherit;
      padding-right: 40px;
    }
  }
 // search-button
  .navbar-form button {
    position: absolute;
    right: 31px;
    bottom: 1px;
    background-image: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    text-shadow: none;
  }

  .navbar-brand {
    padding: 0 15px;
  }

  .btn-phone {
    border: none;
    display: block;
    padding: 8px 12px;
    margin: 8px 0;
    color: @greendark;
    font-weight: 700;
  }
}
