.page-header {
  margin: 0;
  padding-top: 15px;
  border-radius: 0;

  form.navbar-form {
    margin-top: 54px;
    margin-bottom: 0;
  }

  .navbar-form .form-group {
    position: relative;
    width: 100%;
  }

  .form-control {
    width: inherit;
    padding-right: 40px;

    &:focus {
      box-shadow: none;
    }
  }
 // search-button
  .navbar-form button {
    position: absolute;
    right: 31px;
    bottom: 1px;
    background-image: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    color: @greendark;
  }

  .navbar-brand {
    padding: 0 15px;
  }

  .btn-phone {
    border: none;
    display: block;
    padding: 8px 12px;
    margin: 8px 0;
    color: @greendark;
    font-weight: 700;
  }
}

.extended-search {
  position: absolute;
  top: -20px;
  right: 6px;
  color: @greendark;
  text-decoration: none;
  font-weight: 700;
  display: none;

  &:hover {
    color: @greendark;
  }
}

.link-text {
  position: relative;
}

.cart-widget {
  padding: 15px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 110px;
  right: 15px;
  z-index: 500;

  color: @greendark;
  font-size: 18px;
  display: none;
  z-index: 100;
}

.form-ext-search {

  .modal-body {
    background-color: @greenlight;
  }

  label {
    padding: 5px 0 0;
    font-size: 15px;
    color: @text-dark;
  }

  .hyphen {
    line-height: 30px;
    font-weight: 700;
  }
}
