.items-list {
  font-size: 0;
}

.items-list  .stock-item {
  display: inline-block;
  float: none;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: top;
}

.thumbnail {
  margin-bottom: 40px;
  color: @text-dark;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
