.items-list {
  font-size: 0;
}

.items-list  .stock-item {
  display: inline-block;
  float: none;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: top;
}

.thumbnail {
  margin-bottom: 40px;
  color: @text-dark;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.paginator {
  display: inline-block;
}

.pagination>li>a,
.pagination>li>span {
  color: @text-dark;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: @text-dark;
  border-color: black;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: black;
}

.modal-to-cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  padding: 10px;

  opacity: 0.9;
  span {
   vertical-align: top;
  }

  p {
    padding-top: 15px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
  }

  &--success {
    background-color: @greendark;
  }

  &--error {

    background-color: @orange;
  }
}
