.order-page {
  padding-top: 50px;

  .modal-content {
    padding: 30px;
    margin-bottom: 20px;
    color: @text-dark;
  }

  .order-widget {
    padding: 20px;
    background-color: @orange;
    border-radius: 0;
    color: white;
    font-size: 34px;

    .to-shop {
      font-size: 18px;
      color: white;
    }
  }

  
}
